form {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-gap: 0cap;
    width: 60%;
    padding: 20px;
    border: groove;
    border: 2px solid;
    border-radius: 5px;
    background-image: linear-gradient(
    to bottom,
    rgba(98, 114, 204, 0.5),
    rgba(134, 107, 196, 0.5)
  ), url("catfront.png");
}
button {
    background-color: rgb(12, 117, 236);
    padding: 8px;
}
h2 {
    color: rgb(238, 136, 11);
}
img{
    padding: 5px;
    width: 125px;
}
